TgCrypto
ffmpeg-python
git+https://github.com/pyrogram/pyrogram@master
pytgcalls==3.0.0.dev10
tswift
youtube_search_python
youtube_search
Pyrogram
git+https://github.com/deepukumarpuri/ytp@master
python-dotenv
requests
aiohttp
aiofiles
asyncio
pillow
future
psutil
wget
motor
pymongo
dnspython
heroku3
gitpython
pymongo[srv]==3.11.4
marshmallow==3.12.2
umongo==3.0.0
telegraph==1.4.1
googletrans==3.1.0a0
gTTS
pyshorteners
bs4
imdbpy
ytthumb
pyrogram
